h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}

#main_icon {
    width: 75px;
    height: 75px;
    float: left;
    display: inline-block;
}

#main_title {
    display: inline-block;
    color: #19B7D3;
    text-align: center;
}

#count_patients{
    background-color: beige;
    color: forestgreen;
}

table {
    border-collapse: collapse;
    width: 50%;
}

#table-header{
    height: 50px;
    background-color: #19B7D3;
    color: white;
    font-weight: bolder;
    text-align: center;
}

tr {
    height: 30px;
}

#number{
    text-align: center;
}
table, tr, td {
    border: 1px solid black;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: darkblue;
}


