#icon {
    width: 75px;
    height: 75px;
    float: left;
    display: inline-block;
}

#patient-name {
    display: inline-block;
    color: #4577C6;
    text-align: center;
}

#back {
    display: inline-block;
    float: right;
}

#patient-data {
    margin-left: 75px;
    padding: 2px;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid black;
    background-color: linen;
}

#table-header{
    height: 50px;
    background-color: #19B7D3;
    color: white;
    font-weight: bolder;
    text-align: center;
}

h2 {
    color: #4577C6;
    background-color: linen;
    text-shadow: 1px 1px gray;
    border: 1px solid #4577C6;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}




table {
    margin-left: 10px;
    border-collapse: collapse;
    width: 50%;
}



tr {
    height: 30px;
}

table, tr, td {
    border: 1px solid black;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: darkblue;
}