<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Patient</title>
    <link rel="stylesheet" type="text/css" href="../static/css/patientEdit.css" th:href="@{/css/patientEdit.css}">

</head>
<body>

<h1>Edit Patient</h1>
<div>
    <img id="icon" th:src="@{/images/patient-icon.png}">
    <h2 id="patient-name" th:text="${patient.getNameFirstRep().getNameAsSingleString()}" />
</div>


<!--<form th:action="'http://localhost:8080/patient='+${patient.getIdElement().getIdPart()}+'/edited'" th:object="${patientAddress}" method="post">-->
<form th:action="'http://localhost:8080/patient='+${patient.getIdElement().getIdPart()}+'/edited'" th:object="${patientAddress}" method="post">
    <div> <p>Zipcode</p> <input type="text" th:placeholder="${patientAddress.zipCode}" th:field="*{zipCode}"> </div>
    <div> <p>City</p> <input type="text" th:placeholder="${patientAddress.city}" th:field="*{city}"> </div>
    <div> <p>Country</p> <input type="text" th:placeholder="${patientAddress.country}" th:field="*{country}"></div>
    <button type="submit">Save</button>
</form>



</body>
</html>