<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="http://localhost:8080">
        <input type="submit" value="Back To List" />
    </form>

    <div id="patient-data">
    <h1 th:text="'Patient ' +  ${patient.getNameFirstRep().getNameAsSingleString()} "/>
    <p th:text="'First Name: ' + ${patient.getNameFirstRep().getGiven()}" />
    <p th:text="'Last Name: ' + ${patient.getNameFirstRep().getFamily()}" />
    <p th:text="'Gender: ' + ${patient.getGender().getDisplay()}" />
    <p th:text="'Birth date: ' + ${patient.getBirthDate().toString()}" ></p>
    </div>

    <div id="patient-observations">
        <h2>Observations</h2>
        <ul th:each="data, iterstat: ${observations}">
            <li th:text="${data.getCode().getText()}" th:id="|td${iterstat.index}|"></li>
        </ul>
    </div>

    <div id="patient-medication">
        <h2>Medications</h2>
        <ul th:each="med, iter: ${medications}">
            <li th:text="${med.getNoteFirstRep().getText()}" th:id="|td${iter.index}|"></li>
        </ul>
    </div>
</body>
</html>