<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/patientProfile.css" th:href="@{/css/patientProfile.css}">
</head>
<body>
    <div>
        <img id="icon" th:src="@{/images/patient-icon.png}">
        <h1 id="patient-name" th:text="${patient.getNameFirstRep().getNameAsSingleString()}" />

        <form id="back" action="http://localhost:8080">
            <input type="submit" value="Back To List" />
        </form>
    </div>

    <table id="patient-data">
        <tr>
            <td>First Name</td>
            <td th:text="${patient.getNameFirstRep().getGiven()}"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${patient.getNameFirstRep().getFamily()}"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td th:text="${patient.getGender().getDisplay()}"></td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td th:text="${patient.getBirthDateElement().toHumanDisplay()}"></td>
        </tr>
        <tr th:if="${patient.hasDeceased()}">
            <td>Death Date</td>
            <td th:text="${patient.getDeceasedDateTimeType().toHumanDisplay()}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td th:text="${patient.getAddressFirstRep().getPostalCode()} + ' ' + ${patient.getAddressFirstRep().getCity()} + ', ' + ${patient.getAddressFirstRep().getCountry()} "></td>
        </tr>
        <tr>
            <td>Marital Status</td>
            <td th:text="${patient.getMaritalStatus().getText()}"></td>
        </tr>
    </table>

    <form th:action="'http://localhost:8080/patient='+${patient.getIdElement().getIdPart()}+'/edit'" method="post">
        <button type="submit">Edit Patient Data</button>
    </form>

    <div id="patient-observations">
        <h2>Observations</h2>
        <table>
            <tr id="table-header">
                <td>Date</td>
                <td>Observation</td>
                <td>Value</td>
            </tr>
            <tr th:each="data, iterstat: ${observations}">
                <td th:text="${data[1]}" th:id="|td${iterstat.index}|"></td>
                <td><a th:href="'/patient=' + ${patient.getIdElement().getIdPart()} + '/observation=' + ${data[0].replace(' ','_').replace('/','-')}" th:text="${data[0]}"></td>
                <td th:text="${data[2]}+ ' ' + ${data[3]}"></td>
            </tr>
        </table>
    </div>


    <div id="patient-medication">
        <h2>Medications</h2>
        <table>
            <tr id="table-header">
                <td>Date</td>
                <td>Prescription</td>
                <td>Medication</td>
            </tr>
            <tr th:each="med, iter: ${medications}">
                <td th:text="${med[0]}" th:id="|td${iter.index}|"></td>
                <td th:text="${med[1]}" th:id="|td${iter.index}|"></td>
                <td th:text="${med[2]}" th:id="|td${iter.index}|"></td>
            </tr>
        </table>
    </div>
</body>
</html>