<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/patientProfile.css" th:href="@{/css/patientProfile.css}">

    <script>
        function tableFilter() {


            var yourSelect = document.getElementById( "filter_date" );
            var yy = parseInt(yourSelect.options[ yourSelect.selectedIndex ].value);

            // Declare variables
            var input, filter, table, tr, td, i;

            // Timestamp
            var ts = Date.now() - yy * 12 * 30 * 24 * 3600 * 1000;

            table = document.getElementById("observations-timeline");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    tr_ts = Date.parse(td.innerHTML);
                    if (tr_ts > ts) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>
<body>
    <div>
        <img id="icon" th:src="@{/images/patient-icon.png}">
        <h1 id="patient-name" th:text="${patient.getNameFirstRep().getNameAsSingleString()}" />

        <form id="back" action="http://localhost:8080">
            <input type="submit" value="Back To List" />
        </form>
    </div>



    <table id="patient-data">
        <tr>
            <td>First Name</td>
            <td th:text="${patient.getNameFirstRep().getGiven()}"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${patient.getNameFirstRep().getFamily()}"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td th:text="${patient.getGender().getDisplay()}"></td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td th:text="${patient.getBirthDateElement().toHumanDisplay()}"></td>
        </tr>
        <tr th:if="${patient.hasDeceased()}">
            <td>Death Date</td>
            <td th:text="${patient.getDeceasedDateTimeType().toHumanDisplay()}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td th:text="${patient.getAddressFirstRep().getPostalCode()} + ' ' + ${patient.getAddressFirstRep().getCity()} + ', ' + ${patient.getAddressFirstRep().getCountry()} "></td>
        </tr>
        <tr>
            <td>Marital Status</td>
            <td th:text="${patient.getMaritalStatus().getText()}"></td>
        </tr>
    </table>

    <form th:action="'http://localhost:8080/patient='+${patient.getIdElement().getIdPart()}+'/edit'" method="post">
        <button type="submit">Edit Patient Data</button>
    </form>

    <div id="patient-observations">
        <h2>Observations</h2>
        <div class="row">
            <select class="form-control" style="width: 300px;" id="filter_date">
                <option value="40">Pełen okres</option>
                <option value="10">Ostatni 10 lat</option>
                <option value="5">Ostatni 5 lat</option>
                <option value="3">Ostatnie 3 lata</option>
                <option value="2">Ostatnie 2 lata</option>
                <option value="1">Ostatni rok </option>
            </select>
            &nbsp;
            <button type="button" class="btn btn-info" onclick="tableFilter(3);">Filtruj dane</button>
        </div>
        <br/>

        <table id="observations-timeline">
            <tr id="table-header">
                <td>Date</td>
                <td>Observation</td>
                <td>Value</td>
            </tr>
            <tr th:each="data, iterstat: ${observations}">
                <td th:text="${data[1]}" th:id="|td${iterstat.index}|"></td>
                <td><a th:href="'/patient=' + ${patient.getIdElement().getIdPart()} + '/observation=' + ${data[0].replace(' ','_').replace('/','-')}" th:text="${data[0]}"></td>
                <td th:text="${data[2]}+ ' ' + ${data[3]}"></td>
            </tr>
        </table>
    </div>


    <div id="patient-medication">
        <h2>Medications</h2>
        <table>
            <tr id="table-header">
                <td>Date</td>
                <td>Prescription</td>
                <td>Medication</td>
            </tr>
            <tr th:each="med, iter: ${medications}">
                <td th:text="${med[0]}" th:id="|td${iter.index}|"></td>
                <td th:text="${med[1]}" th:id="|td${iter.index}|"></td>
                <td th:text="${med[2]}" th:id="|td${iter.index}|"></td>
            </tr>
        </table>
    </div>
</body>
</html>