<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patients</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/patientList.css" th:href="@{/css/patientList.css}">
</head>
<body>
    <!--<input type="text" th:field="*{surname}" />-->
    <div>
        <img id="icon" th:src="@{/images/stethoscope-icon.png}">
        <h1 id="main-title">Patient List</h1>
    </div>

    <div id="search-bar">
        <form th:action="'/search=a'">
            <input type="text" placeholder="Search Patient" id="search">
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="info">
        <p id="count-patients" th:text="'Found ' + ${result.size()} + ' patients'" />
    </div>


    <table id="patient-list">
        <tr id="table-header">
            <td>No.</td>
            <td>Name</td>
        </tr>
        <tr th:each="data, iter: ${result}">
            <td id="number" th:text="${iter.index+1}" th:id="|td${iter.index}|"></td>
            <td id="name"><a th:href="'/patient=' + ${data[2]}" th:text="${data[0]} + ' ' + ${data[1]}"/></td>
        </tr>
    </table>

</body>
</html>