<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/patientProfile.css" th:href="@{/css/patientProfile.css}">
    <!--<link rel="stylesheet" type="text/css" href="../static/css/patientPlot.css" th:href="@{/css/patientPlot.css}">-->

</head>
<body>

<div>
    <img id="icon" th:src="@{/images/patient-icon.png}">
    <h1 id="patient-name" th:text="${patient.getNameFirstRep().getNameAsSingleString()}" />

    <form id="back" th:action="'http://localhost:8080/patient='+${patient.getIdElement().getIdPart()}">
        <input type="submit" value="Back To Patient" />
    </form>
</div>

<canvas id="myChart"></canvas>
<script th:inline="javascript">
/*<![CDATA[*/
    // Our labels along the x-axis
    var obs = /*[[${observations}]]*/ [[0,0,0]];
    var title = /*[[${observations[0][0]}]]*/ "";
    var dates = [];
    var values = [];
    for(var i=0; i<obs.length; i++) {
        values.push(Number(obs[i][2]).toFixed(2));
        dates.push(new Date(obs[i][1].split(" ")[0]));
    }

    var myChart = new Chart(document.getElementById("myChart"), {
        type: 'line',
        data: {
            labels: dates,
            datasets: [
                {
                    data: values,
                    fill: false,
                    borderColor: "#4577C6"
                }
            ]
        },
        options: {
            legend: {
                display: false
            },
            title: {
              display: true,
              text: title
            },
            scales: {
                xAxes: [{
                    ticks: {
                        callback: function(value, index, values) {
                            return value.getDate() + "-" + (value.getMonth()+1) + "-" + value.getFullYear();
                        }
                    }
                }]
            }
        }

    });
/*]]>*/
</script>

</body>
</html>